@import "bootstrap";
@import "bootstrap-datepicker";
nav{
  background-color: #696969;
}
.col-form-label{
  font-weight: bold;
}
.form-group.required label:after {
  content:"*";
  color:red;
}
.field_with_errors { display: inline; }
@import 'ingredients';
@import 'purchases';